---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
import RichText from './utils/RichText.astro'

const { blok } = Astro.props

let foregroundColor = blok.foregroundColorInvert ? 'text-base-100' : 'text-base-content'
---

<section {...storyblokEditable(blok)} class="my-0">
  <div class="relative">
    <div class="hero-overlay absolute min-h-screen"></div>
    <div class={'rich-text absolute-center ' + foregroundColor} data-aos="zoom-in">
      <RichText content={blok.content} />
    </div>

    <div id="my-keen-slider" class="z-[-1] keen-slider hero min-h-screen grid">
      {
        blok.images.map((image) => (
          <div class="keen-slider__slide number-slide1 w-full h-screen">
            <Image
              src={image?.filename}
              alt={image?.alt}
              class="max-h-screen object-cover h-full w-full"
              priority={image?.loading === 'eager' ? true : false}
              layout="full-width"
              inferSize
            />
          </div>
        ))
      }
    </div>
    <div class="rs absolute bottom-8 left-8">
      <div class="rs gap-5">
        {
          blok.socials.map((reseau: any) => (
            <a
              href={reseau.url.url}
              class={`icones-social-12 ${reseau.name}`}
              rel="external noopener noreferrer"
              title={`Voir notre page ${reseau.name} Architéa`}
              target="_blank"
              aria-label={`lien vers ${reseau.name}`}>
              {reseau.icon.filename && <img src={reseau.icon.filename} class={`rs-icon w-12 h-auto`} />}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  #my-keen-slider > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
</style>

<script>
  import 'keen-slider/keen-slider.min.css'
  import KeenSlider from 'keen-slider'

  var slider = new KeenSlider(
    '#my-keen-slider',
    {
      loop: true
    },
    [
      (slider) => {
        let timeout
        function clearNextTimeout() {
          clearTimeout(timeout)
        }
        function nextTimeout() {
          clearTimeout(timeout)
          timeout = setTimeout(() => {
            slider.next()
          }, 3000)
        }
        slider.on('created', () => {
          nextTimeout()
        })
        slider.on('dragStarted', clearNextTimeout)
        slider.on('animationEnded', nextTimeout)
        slider.on('updated', nextTimeout)
      }
    ]
  )
</script>
